<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Main menu</title>
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
</head>
<body>
<div class="container my-2" align="center">
  <h3>Menu</h3>
  <a th:href="@{/person}" class="btn btn-info btn-lg mb-3" >Show persons</a>
  <hr>
  <a th:href="@{/group}" class="btn btn-info btn-lg mb-3" >Show groups</a>

</div>
</body>
</html>