<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Person Management System</title>
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
</head>
<body>
<div class="container">
  <h1>Person Management System</h1>
  <hr>
  <h2>Add Person To Group</h2>
  <form action="#" th:action="@{/person/select_group/{id}(id=${person.getId()})}" th:object="${group}"
        method="POST">

    <label for="id">Enter group id</label>
    <input type="text" th:field="*{id}" id="id" class="form-control mb-4 col-4">
    <button type="submit" class="btn btn-info col-2">Add</button>
  </form>
  <hr>
  <a th:href="@{/person}">Back to Person List</a>
</div>
</body>
</html>