<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Person Management System</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Person Management System</h1>
    <hr>
    <h2>Save Person</h2>

    <form action="#" th:action="@{/person/create}" th:object="${person}"
          method="POST">
        <br/>
        <label for="name">Enter name</label>
        <input type="text" th:field="*{name}" id="name"
               class="form-control mb-4 col-4">
        <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>

        <label for="age">Enter age</label>
        <input type="text" th:field="*{age}" id="age"
               class="form-control mb-4 col-4">
        <div style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age error</div>

        <label for="email">Enter email</label>
        <input type="text" th:field="*{email}" id="email"
               class="form-control mb-4 col-4">
        <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</div>

        <button type="submit" class="btn btn-info col-2">Save
            Person</button>
    </form>
    <hr>
    <a th:href="@{/person}"> Back to Person List</a>
</div>
</body>
</html>